.monks-enhanced-journal-dark .directory-sidebar {
    background: none;
}

.monks-enhanced-journal-dark .mainbar .navigation {
    background: none;
}

.monks-enhanced-journal-dark .mainbar .navigation .nav-button {
    background: none;
}

.monks-enhanced-journal-dark .mainbar .navigation {
    background: none;
}
